*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

:root{
    --lg: #d3d3d3;
    --dark-teal: #21b892;
}

.tooltip3 {
    position: relative;
    display: inline-block;
    color: rgb(21, 21, 95);
  }
  
  .tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip3:hover .tooltiptext3 {
    visibility: visible;
  }




#for-print{
    display: none;
}

@media print{
    
    .content-container, .pop-up-window, .third-layer-overlay, .notifications{
        display: none !important;
    }

    #notice, #ot-approval {
        visibility: hidden !important;
        display: none !important;
    }

    .pages table {
        width: 100%;
        height: 50vh;
        border-collapse:  collapse !important;
    }
    .pages td, .pages th {
        border: 1px solid rgba(0,0,0,0.2);
    }

    .payroll-document, .employee-trail-document {
        display: block !important;
    }

    .employee-trail-document table {
        width: 100%;
    }
    
    .employee-trail-document td, .employee-trail-document th{
        border: 1px solid rgba(0,0,0,0.1);
        padding: 5px;
    }

    .payroll-document td, .payroll-document th{
        border: 1px solid rgba(0,0,0,0.1);
        font-size: 10px;
        padding: 5px;
    }
    .payroll-document table{
        border-collapse: collapse;
        
    }

    .pages {
        display: block !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--teal);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--teal);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--teal);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* width and height for the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
  /* background color of the scrollbar track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
  }
  
  /* scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
  
  /* scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  css
  Copy code
  /* For Firefox */
  
  /* width and height for the scrollbar track */
  /* Note: Firefox doesn't support separately styled scrollbar track */
  /* So setting width and height for the scrollbar */
  /* Also, Firefox doesn't support styling of scrollbar thumb on hover */
  html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }


.content-container{
    min-height: 100vh;
    width: 100vw;
}

.main-menu{
    flex: 1;
    padding:5px;
    background: var(--teal);
    border-right: 2px solid var(--dark-teal);
}
.main-menu .menu{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-menu .menu a{
    cursor: pointer;
    color: #fff;
    padding: 10px;
}
.main-menu .menu a svg{
    margin-top: -5px;
}
.main-menu .menu a:hover{
    background: var(--dark-teal);
    color: #fff;
    text-decoration: none;
}
.main-menu .menu a.active{
    background: var(--dark-teal);
    color: #fff;
}

/* */

.main-content{
    flex: 4;
    height: 100vh;
    padding: 40px 20px;
    background: var(--teal);
}
.main-content table{
    width: 100%;
    overflow: auto;
}

.main-content table td{
    padding: 5px;
    color: #fff;
}

.main-content table thead{
    background: var(--dark-teal);
    color: #fff;
    padding: 5px;
    position: sticky;
    top: 0;
}

/* */
.buttons-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
}
.buttons-wrapper > div{
    text-align: center;
    color: #fff;
}
.buttons-wrapper > div p{
    font-size: 20px;
}
.buttons-wrapper > div div{
    background: var(--dark-teal);
    min-height: 150px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

/* */
.notifications{
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    padding-left: 20px;
}
.notifications2{
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    padding-left: 20px;
}

/* */

.pop-up-window, .third-layer-overlay, .fourth-layer-overlay, .confirmation-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 3;
    background: rgba(0,0,0,0.2);
}
.confirmation-overlay {
    z-index: 10;
    background: transparent !important;
}
.third-layer-overlay{
    z-index: 4;
    background: transparent !important;
}
.fourth-layer-overlay {
    z-index: 5;
    background: transparent !important;
}
.fourth-layer-overlay .folo-wrapper, .con-wrapper{
    background: var(--dark-teal);
    padding: 20px;
    box-shadow: 0 0 2px #fff;
}
.third-layer-overlay .tlo-content{
    display: grid;
    grid-template-columns:  auto auto;
}
.third-layer-overlay .tlo-content > div{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
}
/* */
.window-content, .tlo-wrapper{
    background: var(--dark-teal);
    padding: 20px;
    box-shadow: 0 0 2px #fff;
}

.window-content table, .tlo-wrapper table, .folo-wrapper table{
    width: 100%;
    overflow: auto;
}

.window-content form, .tlo-wrapper form, .folo-wrapper form{
    display: flex;
    flex-direction: column;
    width: 400px;
    color: #fff;
}

.window-content input, .tlo-wrapper input, .folo-wrapper input, select{
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: none;
}

input[type='file'] {
    border: 1px solid rgba(255,255,255,0.5);
}

input[type='submit'], input[type='button']{
    color: var(--dark-teal) !important;
}

.window-content table thead, .tlo-wrapper table thead, .folo-wrapper table thead{
    background: var(--teal);
    color: #fff;
    padding: 5px;
    position: sticky;
    top: 0;
}
.window-content table thead td, .tlo-wrapper  table thead td{
    font-size: 15px;
}

.window-content table tbody{
    color: #fff;
}
.window-content table td, .tlo-wrapper table td, .folo-wrapper  table td{
    padding: 5px;
    color: #fff;
    font-size: 14px;
}
.window-content .action-button, .tlo-wrapper .action-button{
    padding: 5px 15px;
    border-radius: 4px;
    background: var(--teal);
    color: #fff;
    border: none;
    font-size: 15px;
}
.window-content .company-details-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    column-gap: 30px;
}
.window-content .company-details-wrapper > div:not(div:nth-last-child(1)){
    min-width: 300px;
    min-height: 150px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
}
.window-content .company-details-wrapper > div.deductions{
    grid-column: 1 / span 2;
    min-height: 50px !important;
}
.window-content .company-details-wrapper > div > div span{
    color: #fff;
}
.window-content .company-details-wrapper > div > div{
    display: flex;
    flex-direction: column;
}

#notice{
    /* animation: notice 2s infinite forwards;
    animation-direction: alternate; */
    cursor: pointer;
}
#ot-approval {
    /* animation: approval 3s infinite forwards;
    animation-direction: alternate; */
    cursor: pointer;
}

@keyframes notice {
    from{
        bottom: 40px;
    } to {
        bottom: 20px;
    }
}

@keyframes approval {
    from{
        bottom: 80px;
    } to {
        bottom: 100px;
    }
}


.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: orange;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: orange transparent transparent transparent;
  }
  
  #notice:hover .tooltiptext {
    visibility: visible;
  }
  .tlo-wrapper .contribution-tables-wrapper {
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    color: #fff;
  }


.btns {
    display: flex;
    justify-content: center;
}
.btns button{
    padding: 5px;
    width: 150px;
    color: #fff;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
}

.profile-container{
    display: flex;
}
.profile-details{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.payroll-files-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: auto;
    min-height: 300px;
    max-height: 350px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.payroll-files-container::-webkit-scrollbar{
    display: none;
}
.payroll-files-container > div {
    padding: 5px;
    min-height: 100px;
    max-height: 100px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px;
}
.payroll-files-container > div:hover{
    border: 1px solid rgba(255,255,255,1);
}

.payroll-files-container > div .menu{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}